The following questions were created to supplement the required course material and should be completed using only the statements and other features we have learned so far. Try them first before looking at the solution. Do not hesitate to ask question during office hours or in our Q&A discussion platform if you need additional help.

**Question 1**: Write a function `is_present` that checks to check if a given key is in the following dictionary and returns `True` or `False` accordingly:

```
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [7]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(key):
  ### START CODE ### (approx. 4 lines)
  if key in d:
    return True
  else:
    return False
  ### END CODE ###

In [8]:
is_key_present(3)

True

In [9]:
is_key_present(30)

False

**Question 2**: Consider the following nested list:

```
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']
```


Create print statements to print the following:


```
>>> ['cc', 'dd', ['eee', 'fff']]
>>> ['eee', 'fff']
>>> eee
```

In [10]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']
### START CODE ### (approx. 3 lines)
print(L[2])
print(L[2][2])
print(L[2][2][0])
### END CODE ###

['cc', 'dd', ['eee', 'fff']]
['eee', 'fff']
eee

**Question 3**: Write a program which gets the maximum and minimum values from the following dictionary:



```
my_dict = {'x': 500, 'y': 5874, 'z': 560}
```

In [30]:
my_dict = {'x': 500, 'y': 5874, 'z': 560}
### START CODE ### (approx. 9 lines)
for value in my_dict.values():
  if value > max_value:
    max_value = value
  if value < min_value:
    min_value = value

print(max_value)
print(min_value)
### END CODE ###

5874
500

**Question 4**: Convert the following string to a dictionary such that all items on the left side of "=" is the key and all items on the right side are values.


```
str = "Jan=January, Feb=February, Mar=March"
```

In [31]:
str = "Jan=January, Feb=February, Mar=March"
### START CODE ### (approx. 6 lines)
pairs = str.split(",")
result = {}

for pair in pairs:
  key, value = pair.strip().split("=")
  result[key] = value

print(result)
### END CODE ###

{'Jan': 'January', 'Feb': 'February', 'Mar': 'March'}

**Question 5**: Given the following dictionary of students and their grade:



```
students = { 
'Ryan': 82, 
'Harsh': 95,
'Philip': 89,
'Christopher': 99, 
'Sara': 36, 
'Daniel': 94,
'Kyle': 90
}
```



Write a program which finds the student with the highest grade and prints that student's name.

In [34]:
students = { 'Ryan': 82, 'Harsh': 95,'Philip': 89,'Christopher': 99, 'Sara': 36, 'Daniel': 94, 'Kyle': 90 }
### START CODE ### (approx. 7 lines)
max_grade = 0
max_student = None

for student, grade in students.items():
  if grade > max_grade:
    max_grade = grade
    max_student = student

print(max_student)
### END CODE ###

Christopher

**Question 6**: In battleship, a player creates a board filled with either a ship or water. A ship is represented by `"x"` and water is represented by `"o"`. When a player takes a turn, they select a spot on the board to guess where their opponents ship is. Write a function `battleship` that given a 2d array that represents a board, and a 2d array that represents a turn, returns `True` if a player hit a ship and `False` otherwise. The second 2d array will only contain one `"x"`.

Example:




```
board = [["x", "o", "o"], ["x", "x", "x"], ["o", "o", "o"]]
turn = [["o", "o", "o"], ["o", "x", "o"], ["o", "o", "o"]]
```



```
>>> battleship(board, turn)
TRUE
```

In [35]:
def battleship(board, turn):
  ### START CODE ### (approx. 5 lines)
  for i in range(len(board)):
    for j in range(len(board[0])):
      if board[i][j] == "x" and turn[i][j] == "x":
        return True
  return False
  ### END CODE ###

In [36]:
board = [["x", "o", "o"], ["x", "x", "x"], ["o", "o", "o"]]
turn = [["o", "o", "o"], ["o", "x", "o"], ["o", "o", "o"]]
battleship(board, turn)

True

**Question 7**: **CHALLENGE**:


A **sentence** is a string of single-space separated words where each word consists only of lowercase letters.

A word is **uncommon** if it appears exactly once in one of the sentences, and **does not appear** in the other sentence.

Given two sentences `s1` and `s2`, write a function `uncommon` that returns a list of ***all the uncommon words***. You may return the answer in **any order**.




Examples:


```
Input: s1 = "this apple is sweet", s2 = "this apple is sour"
Output: ["sweet","sour"]
```





```
Input: s1 = "apple apple", s2 = "banana"
Output: ["banana"]
```







Constraints:



```
1 <= s1.length, s2.length <= 200
```
```
s1 and s2 consist of lowercase English letters and spaces.
```
```
s1 and s2 do not have leading or trailing spaces.
```
```
All the words in s1 and s2 are separated by a single space.
```

In [54]:
def uncommon(st1, st2):
  ### START CODE ### (approx. 12 lines)
  combined_strings = st1.split() + st2.split()
  word_frequency = {}

  for word in combined_strings:
    if word not in word_frequency:
      word_frequency[word] = 1
    else:
      word_frequency[word] += 1

  lst = []
  for key in word_frequency:
    if word_frequency[key] == 1:
      lst.append(key)

  return lst
  ### END CODE ###

In [55]:
st1 = "this apple is sweet"
st2 = "this apple is sour"
uncommon(st1, st2)

['sweet', 'sour']

In [56]:
st1 = "apple apple"
st2 = "banana"
uncommon(st1, st2)

['banana']

**Question 8**: **CHALLENGE**: 

You are given `row x col` grid representing a map where `grid[i][j] = 1` represents land and `grid[i][j] = 0` represents water.

Grid cells are connected **horizontally/vertically** (not diagonally). The grid is completely surrounded by water, and there is exactly one island (i.e., one or more connected land cells).

The island doesn't have "lakes", meaning the water inside isn't connected to the water around the island. One cell is a square with side length 1. The grid is rectangular, width and height don't exceed 100. Write a function `perimeter` that determines the perimeter of the island.

Examples:


```
Input: grid = [[0,1,0,0],[1,1,1,0],[0,1,0,0],[1,1,0,0]]
Output: 16
```
```
Input: grid = [[1]]
Output: 4
```
```
Input: grid = [[1,0]]
Output: 4
```



Constaints:
```
row == grid.length
```
```
col == grid[i].length
```
```
1 <= row, col <= 100
```
```
grid[i][j] is 0 or 1.
```
```
There is exactly one island in grid.
```

In [59]:
def perimeter(grid):
  ### START CODE ### (approx. 11 lines)
  island = 0
  neighbor = 0

  for y in range(len(grid)):
    for x in range(len(grid[y])):
      if grid[y][x] == 1:
        island += 1
        if x < len(grid[y]) - 1 and grid[y][x + 1] == 1:
          neighbor += 1
        if y < len(grid) - 1 and grid[y + 1][x] == 1:
          neighbor += 1
  return (island * 4) - (2 * neighbor)
  ### END CODE ###

In [61]:
grid = [[0,1,0,0],[1,1,1,0],[0,1,0,0],[1,1,0,0]]
perimeter(grid)

16

In [62]:
grid = [[1]]
perimeter(grid)

4

In [63]:
grid = [[1,0]]
perimeter(grid)

4