The following questions were created to supplement the required course material and should be completed using only the statements and other features we have learned so far. Try them first before looking at the solution. Do not hesitate to ask question during office hours or in our Q&A discussion platform if you need additional help.

**Question 1**: Without using the Python interpreter, evaluate the following expressions, then verify your answers using the interpreter as a calculator.

* 4 * 5
* 3 + (4 * 5)
* 3 + 4 * 5
* 7 // 3
* 20 % 5

In [4]:
4 * 5

20

In [5]:
3 + (4 * 5)

23

In [6]:
3 + 4 * 5

23

In [7]:
7 // 3

2

In [8]:
20 % 5

0

**Question 2**: What will be printed when the following statements are executed? What value could be garbage collected?

```
>>> x = 10
>>> y = 7
>>> z = x + y
>>> x = z // y
>>> y = z % 5
>>> x = 17
>>> print(x)
```

In [9]:
x = 10
y = 7
z = x + y
x = z // y
y = z % 5
x = 17
print(x)

17

![pr_ex1.PNG]()

**Question 3**: Using the Python interpreter:

Calculate the price of an item after 9% tax as follows:

* Create a variable price and assign a value of $20.
* Create a variable tax and assign 9% to it.
* Create a variable final_price and assign the result of price plus 9% tax.
* Print final_price

In [10]:
### START CODE ### (approx. 4 lines)
price = 20.0
tax = 0.09
final_price = price + (price * tax)
print(final_price)
### END CODE ###

21.8

**Question 4**: Using the Python interpreter:

Calculate the price of an item after 20% discount as follows: (Assume this is a non-taxable item)

* Create a variable price and assign a value of $25.
* Create a variable discount and assign 20% to it.
* Create a variable markdown and assign it the value that is the result of price times discount.
* Create a variable markdown_price and decrease the value of markdown from price.
* Print markdown_price

In [11]:
### START CODE ### (approx. 5 lines)
price = 25.0
discount = 0.2
markdown = price * discount
markdown_price = price - markdown
print(markdown_price) 
### END CODE ###

20.0

**Question 5**: Write a function named `mul_by_10`. The function should accept one argument and return the product of its argument multiplied times 10.

In [12]:
def mul_by_10(num):
  ### START CODE ### (approx. 1 lines)
  return num*10
  ### END CODE ###

In [19]:
mul_by_10(27)

270

In [20]:
mul_by_10(6.2)

62.0

**Question 6**: Write the function `km_to_miles`. The function should accept the distance in kilometers, then converts that distance to miles.

In [14]:
def km_to_miles(km):
  ### START CODE ### (approx. 2 lines)
  miles = km * 0.6214
  return miles
  ### END CODE ###

In [22]:
km_to_miles(4)

2.4856

**Question 7**: Financial experts often advise property owners to insure their property for at least 85% of the amount it would cost to replace the structure. The main function below asks the user to enter the replacement cost of a property. Implement `get_amount` so it works according to the recommendation of the financial experts.

```
 def main():
    replacement_cost = float(input('Enter cost of property: $'))
    quote = get_amount(replacement_cost)
    print(f'The minimum amount of insurance you should buy for the property is ${quote}')
```

In [15]:
def get_amount(cost):
  ### START CODE ### (approx. 3 lines)
  MIN_PERCENTAGE = 0.85
  total = cost * MIN_PERCENTAGE
  return total
  ### END CODE ###

In [23]:
get_amount(650000)

552500.0

**Question 8**: Write the function `my_car_expenses` that accepts the monthly expenses of a car: loan payment, insurance, gas, oil, tires, and maintenance as arguments. The function displays the total monthly cost of these expenses, and the total annual cost of these expenses.

In [25]:
def my_car_expenses(loan, insurance, gas, oil, tires, maint):
  ### START CODE ### (approx. 4 lines)
  MONTHS = 12
  monthly_cost = loan + insurance + gas + oil + tires + maint
  annual_cost = monthly_cost * MONTHS
  print(f'Car expenses are ${monthly_cost} month and ${annual_cost} a year')
  ### END CODE ###

In [26]:
my_car_expenses(250, 100, 150, 50, 200, 100)

Car expenses are $850 month and $10200 a year